/amazon_cache
/amazon_files
/youtube_cache
/youtube_files
/amazon_jobs_dataset.csv
/amazon.pdf
/amazon.Rmd
/.Rhistory
/.RData
USvideos.csv
US_category_id.json
data20.csv
data10.csv
youtube.pdf
youtuber_max_score.csv
youtube.Rmd
youtuber_avg_score.csv
